h1 {
  padding: 10px;
  margin: 0;
}

.title {
  font-size: 1.1rem;
  background-color: #1b4d89;
  color: white;
  display: flex;
  align-items: center;
  height: 90px;
  border-radius: 0 0 5px 5px;
  display: flex;
}

.text {
  font-size: 2em;
  font-weight: bold;
  flex-grow: 1;
}

.dropbox {
  padding: 5px;
}

#breadcrumb {
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  background-color: rgba(255, 255, 255, 0.595);
  margin: 4px;
  color: black;
  font-size: 1.2em;
  font-weight: 600;
}

#breadcrumb a {
  text-decoration: none;
}

#breadcrumb a:hover {
  text-decoration: underline;
}

#sortButtons {
  width: 190px;
  display: flex;
  align-items: center;
}

#sortButtons span {
  margin-right: 5px;
  font-weight: bold;
}

#sortButtons div {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size: 1.5em;
  padding: 4px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: 1px white solid;
  margin: 2px;
  cursor: pointer;
  transition: background 100ms linear;
}

#sortButtons div:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

#sortDate::before {
  content: "\f162";
}

#sortName:before {
  content: "\f15d";
}

.selected {
  background-color: white;
  color: #1b4d89;
}
