.item {
  display: block;
  padding: 4px;
  margin: 4px;
  box-sizing: content-box;
  border-bottom: 1px gray solid;
  color: #515c6d;
  box-shadow: inset 0 1px 0 rgb(255 255 255);
  transition: all 0.3s ease-out;
  background: white;
  height: 25px;
  line-height: 25px;
  font-weight: bold;
  display: flex;
}

.item:hover {
  background: #e0e0e0;
}

a {
  color: #2e6892;
  font-weight: bold;
  text-decoration: none;
  margin-right: 20px;
}

#options {
  display: flex;
}

.filename {
  flex-grow: 1;
}

.date {
  width: 190px;
  margin-right: 20px;
  height: 25px;
}

.linkWrapper {
  text-align: center;
  height: 25px;
  width: 140px;
}

.download::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f019";
  font-size: 1.5em;
  padding: 4px;
}

.subfolder::before {
  font-family: "Font Awesome 5 Free";
  content: "\f07b";
  font-size: 1.8em;
  padding-right: 10px;
  color: #0ca3d1;
}

.file::before {
  font-family: "Font Awesome 5 Free";
  content: "\f15b";
  font-size: 1.5em;
  color: #1b4d89;
  padding: 0 15px 0 7px;
}

.download:hover {
  color: #48a1e0;
}

.subfolder {
  cursor: pointer;
}

#loading {
  display: none;
}

.hidden {
  position: absolute;
}
