*{
  padding: 0;
  margin: 0;
}

#app {
  font-family: Avenir, sans-serif, Helvetica, Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  background: #b5c8df;
}
