.wrapperDialog {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.24);
  z-index: 99;
  visibility: visible;
  opacity: 1;
  transition: opacity 300ms linear;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 300ms, opacity 300ms linear;
}

.header::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f071";
  font-size: 1.5em;
  padding: 4px;
  text-align: right;
}

.redWarning {
  background-color: #d33d35;
  color: #d33d35;
}

.header {
  font-size: 2rem;
  padding: 5px;
  color: white;
  height: 50px;
  text-align: center;
}

.title {
  font-size: 2rem;
  padding: 5px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #fff;
}

.description {
  font-size: 1.1rem;
  text-align: center;
  background: #fff;
  flex-grow: 1;
}

.buttonContainer {
  text-align: center;
  padding: 5px;
}

.buttonContainer button {
  border: none;
  color: white;
  width: 70px;
  height: 35px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.1s ease-out;
  font-size: 1.2em;
}

.buttonContainer button:hover {
  width: 75px;
  opacity: 0.9;
}

.dialog {
  font-family: Helvetica;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  min-width: 500px;
  height: 200px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
