.wrapper {
  display: grid;
  place-items: center;
  min-height: 100vh;
  text-align: center;
}

a {
  color: white;
  padding: 10px 20px;
  background-color: #1b4d89;
  border-radius: 20px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
  transition: all 0.1s ease-out;
  height: 25px;
  line-height: 25px;
}

a:hover {
  padding: 12px 22px;
  background-color: #fa8176;
}

a::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f500";

  padding-left: 10px;
}
